body{
    background-color: antiquewhite;
}

/*Netfliz Section*/
.carousel-container-netflix{
    width: auto;
    height: 450px;
    background: linear-gradient(to right, black, red);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.carousel-title-container-netflix{
    background: #30616133;
    backdrop-filter: blur(1px);
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
    position: relative;
    display: flex;
    align-items: center;
    
}

.border-contain-netflix{
    color: white;
    margin-left: 30px;
    font-size: 100px;
    margin-left: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 15px 20px black;
}

.carousel-slide-netflix{
display: inline-flex;
}

.carousel-slide-netflix img{
    width: 200px;
    height: 200px;
    background: #30616133;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    margin: 10px;
    transition: all .5s ease;
}

.carousel-slide-netflix img:hover{
    transform: scale(1.1);
    transition: transform .5s;
}

.carousel-container-netflix h1{
    color: white;
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 15px 20px black;
    -webkit-text-stroke: black 3px;
}
.another-contain-netflix{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    color: white;
    transition: transform .5s ease;
    direction: left;
}

.another-contain-netflix.hover-left{
    transform: translateX(-100px);
    transition: transform .5s ease;
}

.another-contain-netflix.hover-right{
    transform: translateX(100px);
    transition: transform .5s ease;
}   

.imgone-context-netflix{
    width: 195px;
    height: 195px;
    position: absolute;
    margin-top: 30px;
    margin-left: 13px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgone-context-netflix:hover{
    opacity: 1;
    
}

.imgone-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgone-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgtwo-context-netflix{
    width: 160px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 280px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgtwo-context-netflix:hover{
    opacity: 1;
    
}

.imgtwo-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgtwo-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgthree-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 550px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgthree-context-netflix:hover{
    opacity: 1;
    
}

.imgthree-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgthree-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgfour-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 825px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgfour-context-netflix:hover{
    opacity: 1;
    
}

.imgfour-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgfour-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgfive-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1095px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgfive-context-netflix:hover{
    opacity: 1;
    
}   

.imgfive-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
    margin-left: 60px;
}

.imgfive-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgsix-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1370px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}  

.imgsix-context-netflix:hover{
    opacity: 1;
    
}

.imgsix-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgsix-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgseven-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1640px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgseven-context-netflix:hover{
    opacity: 1;
    
}

.imgseven-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgseven-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgeight-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1910px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgeight-context-netflix:hover{
    opacity: 1;
    
}

.imgeight-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgeight-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgnine-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 2180px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgnine-context-netflix:hover{
    opacity: 1;
    
}

.imgnine-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
    margin-left: 50px;
}

.imgnine-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgten-context-netflix{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 2455px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgten-context-netflix:hover{
    opacity: 1;
    
}

.imgten-context-netflix p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgten-context-netflix:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}
/*Amazon Section*/

.carousel-container-amazon{
    width: auto;
    height: 450px;
    background: linear-gradient(to right, black, dodgerblue);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
    overflow: hidden;
}

.carousel-title-container-amazon{
    background: #30616133;
    backdrop-filter: blur(1px);
    width: auto;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
    position: relative;
    display: flex;
    align-items: center;
}

.border-contain-amazon{
    color: white;
    margin-left: 30px;
    font-size: 100px;
    margin-left: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 15px 20px black;   
}

.another-contain-amazon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    color: white;
    transition: transform .5s ease;
    direction: left;
}

.another-contain-amazon.hover-left{
    transform: translateX(-100px);
    transition: transform .5s ease;
}

.another-contain-amazon.hover-right{
    transform: translateX(100px);
    transition: transform .5s ease;
}
.carousel-slide-amazon{
    display: inline-flex;
    }
    
.carousel-slide-amazon img{
    width: 200px;
    height: 200px;
    background: #30616133;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    margin: 10px;
    transition: all .5s ease;
}

.carousel-container-amazon h1{
    color: white;
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 15px 20px black;
    -webkit-text-stroke: black 3px;
}

.carousel-slide-amazon img:hover{
    transform: scale(1.1);
    transition: transform .5s;
}

.imgone-context-amazon{
    width: 155px;
    height: 195px;
    position: absolute;
    margin-top: 30px;
    margin-left: 13px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgone-context-amazon:hover{
    opacity: 1;
    
}

.imgone-context-amazon p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}   

.imgone-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgtwo-context-amazon{
    width: 160px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 285px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all .6s;
}

.imgtwo-context-amazon:hover{
    opacity: 1;
    
    
}

.imgtwo-context-amazon p{
    font-size: 45px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgtwo-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgthree-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 555px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;

}

.imgthree-context-amazon:hover{
    opacity: 1;
    
}   

.imgthree-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}   

.imgthree-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgfour-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 825px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgfour-context-amazon:hover{
    opacity: 1;
    
}

.imgfour-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgfour-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgfive-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1100px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgfive-context-amazon:hover{
    opacity: 1;
    
}

.imgfive-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgfive-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgsix-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1369px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgsix-context-amazon:hover{
    opacity: 1;
    
}

.imgsix-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgsix-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgseven-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1640px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}   

.imgseven-context-amazon:hover{
    opacity: 1;
    
}

.imgseven-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgseven-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgeight-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 1910px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgeight-context-amazon:hover{
    opacity: 1;
    
}

.imgeight-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgeight-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgnine-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 2180px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}
.imgnine-context-amazon:hover{
    opacity: 1;
    
}

.imgnine-context-amazon p{
    font-size: 25px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgnine-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}

.imgten-context-amazon{
    width: 150px;
    height: 190px;
    position: absolute;
    margin-top: 25px;
    margin-left: 2450px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
}

.imgten-context-amazon:hover{
    opacity: 1;
    
}

.imgten-context-amazon p{
    font-size: 30px;
    color: #ffe100;
    transition: all .5s ease;
}

.imgten-context-amazon:hover > *{
    transform: translateX(25px);
    transition: all .5s ease;
}
/* Center the carousel slides */
.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust according to the number of images */
}

.next-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .5s ease;
} 
.prev-btn{
    margin-left: 800px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .5s ease;
    
}
    
.next-btn:hover, .prev-btn:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
    box-shadow: 0 0 10px black,0 0 25px black
    ,0 0 50px black,0 0 200px black,
    0 0 250px black;
}

